#define IDM_Prog 10001
#define IDI_ICON 1001
#define IDR_MENU1 10000
#define IDM_Cursor 10004
#define IDM_Paint 10002
#define IDM_About 10005
#define IDM_Author 10001
#define IDM_Exit 10003

#include "C:/masm64/include64/Resource.h"

IDI_ICON ICON DISCARDABLE "myico.ico"
10 ICON DISCARDABLE "myico.ico"

IDR_MENU1 MENU
BEGIN
  POPUP "Задание"
  BEGIN
    MENUITEM "Перемещать курсор",IDM_Cursor
    MENUITEM "Рисовать кардиоду",IDM_Paint
  END
  POPUP "Информация"
  BEGIN
    MENUITEM "Задание",IDM_About
    MENUITEM "Автор",IDM_Author
  END
  MENUITEM "Выход",IDM_Exit
END

