#define IDD_DLG1 100
#define IDC_IMG1 102
#define IDC_GRP1 101
#define IDC_STC1 103
#define IDC_STC2 104
#define IDC_STC3 105
#define IDC_BTN1 1001
#define IDC_BTN2 1003
#define IDR_MENU1 10000
#define IDM_Task 101
#define IDM_Author 102
#define IDM_Exit 103

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "myico.ico"
20 RCDATA DISCARDABLE "dTCqj9HpLzQ2.jpg"

IDD_DLG1 DIALOGEX 10,10,321,105
CAPTION "Лабораторная работа 8-1. Реестр"
FONT 15,"Sitka Small",700,0,204
MENU IDR_MENU1
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,189,99
  CONTROL "Создать ключи реестра",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,18,111,42
  CONTROL "Удалить ключ реестра",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,183,18,111,42
  CONTROL "Работа с ключами реестра",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,6,306,90
  CONTROL "Ветви реестра:",IDC_STC1,"Static",NOT WS_VISIBLE|WS_CHILDWINDOW,12,63,234,9
  CONTROL "• HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\System",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_LEFTNOWORDWRAP,12,72,297,9
  CONTROL "• HKLM\SYSTEM\CurrentControlSet\Servises\i8042prt\Parameters",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,81,297,9
END

IDR_MENU1 MENU
BEGIN
  POPUP "Информация"
  BEGIN
    MENUITEM "Задание",IDM_Task
    MENUITEM "Автор",IDM_Author
  END
  MENUITEM "Выход",IDM_Exit
END

