#define IDD_DLG1 100
#define IDC_IMG1 102
#define IDC_BTN1 1001
#define IDC_BTN3 1002
#define IDC_BTN2 1003
#define IDR_MENU1 10000
#define IDM_Info 103
#define IDM_Exit 104

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "myico.ico"
20 RCDATA DISCARDABLE "dTCqj9HpLzQ.jpg"

IDD_DLG1 DIALOGEX 0,0,360,174
CAPTION "Лабораторная работа 8-2-1"
FONT 14,"Coolvetica Rg",400,0,0
MENU IDR_MENU1
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,150,72
  CONTROL "Первая программа",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,54,96,48
  CONTROL "Вторая программа",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,54,96,48
  CONTROL "qeditor.exe",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,234,54,96,48
END

IDR_MENU1 MENU
BEGIN
  MENUITEM "Информация",IDM_Info
  MENUITEM "Выход",IDM_Exit
END

