#define IDD_DLG1 100
#define IDC_IMG1 102
#define IDC_BTN1 101
#define IDC_BTN2 105
#define IDC_EDT1 104
#define IDC_STC1 103
#define IDC_EDT2 108
#define IDC_STC2 107
#define IDC_BTN3 10003
#define IDR_MENU1 10000
#define IDM_Info 10002
#define IDM_Exit 10003

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "myico.ico"
20 RCDATA DISCARDABLE "dTCqj9HpLzQ.jpg"

IDD_DLG1 DIALOGEX 10,10,219,111
CAPTION "Курсовая работа"
FONT 15,"Sitka Small",700,0,204
MENU IDR_MENU1
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,0,0,189,99
  CONTROL "Зашифровать",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,66,63,27
  CONTROL "Расшифровать",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,147,66,63,27
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_AUTOVSCROLL,9,21,102,36,WS_EX_CLIENTEDGE
  CONTROL "Поле ввода текста",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,24,9,69,9
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,30,36,21,WS_EX_CLIENTEDGE
  CONTROL "Поле ввода ключа",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,147,18,63,9
  CONTROL "Выход",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,186,99,30,9
END

IDR_MENU1 MENU
BEGIN
  MENUITEM "Информация",IDM_Info
  MENUITEM "Выход",IDM_Exit
END

